header{
padding:10px;
text-align:center;
background-image:url(image_header.jpg);
background-clip:padding-box;
text-decoration:underline;
color:maroon;
border:1px solid white;
border-radius:10px;
}


nav{
background-color:pink;
padding:4px;
}
nav a{
text-decoration:none;
color:black;
margin-left:10px;
padding-right:10px;
border-right:1px solid;
}
nav a:hover{
font-size:1.5rem;
font-weight:bold;
}
img{
border:0.5px solid white;
margin:0;
border-radius:50%;
position:relative;
z-index:1;
margin-inline:5px;
}
img:hover{
border:1px solid ;
}
.normal{
position:absolute;
z-index:3;
border:1px solid white;
border-radius:50%;
width:20px;
background-color:yellow;
height:20px;
display:none;
cursor:pointer;
}
footer{
text-align:center;
background-color:gray;
font-size:2.5vh;
font-weight:bold;
border:1px solid gray;
border-radius:5px;
position:relative;
width:100%;
margin-top:300px;
}
.descri{
font-weight:bold;
position:absolute;
z-index:3;
left:50%;
font-size:2.5vh;
display:none;
top:300;
}
.twos{
font-weight:bold;
position:absolute;
z-index:3;
font-size:2.5vh;
left:50%;
display:none;
top:300;
}
.threes{
font-weight:bold;
position:absolute;
z-index:3;
font-size:2.5vh;
left:50%;
display:none;
top:300;
}
.fours{font-weight:bold;
position:absolute;
z-index:3;
left:50%;
font-size:2.5vh;
display:none;
top:300;}

.normal:hover{
border:1px solid black;
font-weight:bold;
}
.big{
left:30%;
height:50%;
width:25%;
}

.continentend{
border:none;
}